.logo {
    width: 80px;
}

.top_icons svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin: 0 4px;
    transition: all .2s ease-in-out;
}

.top_icons svg:hover {
    fill: #d3ad7f;
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    .top_icons {
        position: absolute;
        top: 28px;
        right: 62px;
    }
}