#products {
    margin-top: 4rem;
}

.products {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    grid-template-rows: repeat(1, minmax(300px, 1fr));
    grid-gap: 12px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #373333;
    padding: 16px 12px;

}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.buttons svg {
    width: 44px;
    height: 44px;
    border: 2px solid #373333;
    padding: 10px;
    margin: 20px 0;
    fill: white;
    border-radius: 2px;
}

.buttons svg:hover {
    background-color: #d3ad7f;
    transition: all .2s ease-in-out;
    border: 2px solid #d3ad7f;
}

.name {
    color: white;
    font-size: 24px;
    margin: 14px 0;
    text-transform: capitalize;
}

.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.stars svg {
    width: 22px;
    height: 22px;
    fill: #d3ad7f;
    margin: 0 2px;
}

.price {
    font-size: 26px;
    color: white;
}

.original {
    font-size: 14px;
    margin-left: 4px;
    text-decoration: 1px line-through white;
}
