* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #010103;
    position: relative;
}

/* -----Scroll Bar----- */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010103;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 14px;
  /* Handle on hover */
}

::-webkit-scrollbar-thumb:hover {
  background: #eee;
}
/* -------------------- */

header, article {
    padding: 0 6%;
}

.orange {
    color: orange;
}